   @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

   * {
       font-family: 'Cinzel', sans-serif;
       margin: 0;
       overflow: hidden;
   }

   .header {
       background-color: black;
       justify-content: space-between;
       border-bottom: 2px solid rgb(223, 164, 87);
       height: 85px;
   }

   .header .container {
       padding: 20px;
       display: flex;
       justify-content: space-between;
   }

   .titulo {
       color: rgb(223, 164, 87);
       padding-left: 80px;
       text-align: center;
   }

   .navbar {
       display: flex;
       align-items: center;
       gap: 50px;
       color: burlywood;
       list-style: none;
   }

   .navbar li {
       color: burlywood;
   }

   .navbar a {
       color: burlywood;
       text-decoration: none;
   }

   .atual {
       font-weight: bold;
   }

   .cadastro {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }


   .info {
       display: flex;
       flex: 2;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }

   .formulario {
       display: flex;
       flex-direction: column;
       width: 600px;
       justify-content: center;
       gap: 40px;
       padding: 20px;
       margin-bottom: 300px;
       background: rgba(14, 13, 13, 0.75);
       border-radius: 10px;
       text-align: center;
       border: 2px solid burlywood;
   }

   .formulario h3 {
       font-size: 25px;
       font-weight: bold;
       margin: 5px 0;
   }

   .formulario input {
       color: burlywood;
       background: transparent;
       border: none;
       border-bottom: 2px solid rgb(129, 129, 129);
       padding-bottom: 8px;
       font-size: 16px;
       outline: none;
   }

   .formulario input:focus {
       border-bottom: 2px solid rgb(223, 164, 87);
   }

   .formulario input::placeholder {
       color: burlywood;
       font-size: 16px;
   }

   .formulario button {
       background-color: rgb(223, 164, 87);
       color: white;
       border: none;
       border-radius: 20px;
       height: 40px;
       margin-top: 15px;
   }

   .formulario button:hover {
       transform: scale(1.025);
       background-color: rgb(223, 164, 30);
       cursor: pointer;
   }


   .painel-login {
       background-image: url(../../assets/img/sekiro-login.png);
       background-position: center;
       height: 1080px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       text-align: center;
       color: white;
       align-items: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

   .cadastro_usuario {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .painel-cadastro {
       background-image: url(../../assets/img/sekiro-cadastro.png);
       background-position: center;
       height: 1080px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       text-align: center;
       color: white;
       align-items: center;
       background-repeat: no-repeat;
       background-size: cover;
   }

   .validacao-campo {
       position: relative;
   }

   .validacao-campo input {
       position: relative;
       border: none;
       border-bottom: 2px solid rgb(129, 129, 129);
       outline: none;
       padding-bottom: 8px;
       width: 94%;
       padding-right: 30px;

   }

   .validacao {
       color: rgb(217, 16, 16);
       font-size: 12px;
       padding-top: 5px;
   }

   .validacao2 {
       color: rgb(217, 16, 16);
       font-size: 12px;
       padding-top: 5px;
   }

   .validacao-campo .olho {
       position: absolute;
       right: 10px;
       top: 35%;
       transform: translateY(-50%);
       cursor: pointer;
       color: rgb(129, 129, 129);
   }

   .voltar {
       position: absolute;
       top: 20px;
       left: 20px;
       font-size: 24px;
       text-decoration: none;
       padding: 10px 15px;
       border-radius: 10px;
       color: black;
   }