@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #0d0d0d;
    color: #e6e6e6;
    font-family: 'Cinzel', sans-serif;
    margin: 0;
}

.header {
    background-color: black;
    justify-content: space-between;
    border-bottom: 2px solid rgb(223, 164, 87);
    height: 85px;
}

.header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.titulo {
    color: rgb(223, 164, 87);
    padding-left: 80px;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    color: burlywood;
    list-style: none;
    padding-right: 20px;
}

.navbar li {
    color: burlywood;
}

.navbar a {
    color: burlywood;
    text-decoration: none;
}

.atual {
    font-weight: bold;
}

.banner {
    background-image: url(../../assets/img/sekiro.png);
    background-position: center;
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.topo {
    padding-bottom: 25px;
    width: 700px;
}

.banner2 {
    background-image: url(../../assets/img/sekiro-painel.png);
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner2 .container {
    display: flex;
    background: rgba(0, 0, 0, 1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 650px;
}

.banner3 {
    background-image: url(../../assets/img/sekiro-banner3.png);
    background-position: center;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner3 .container {
    display: flex;
    margin-bottom: 200px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    width: 550px;
}

.banner3 .topo {
    margin-bottom: -25px;
}

.funcionalidades {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    gap: 35px;
}

.funcionalidades .card-funcionalidade {
    width: 220px;
    height: 220px;
    padding: 40px;
    background: rgb(14, 13, 13);
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(223, 164, 87);
    font-size: 20px;
}

#mapa {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../assets/img/imagem-funcionalidade3-removebg-preview.png);
    background-size: cover;
}

#boss {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../assets/img/imagem-funcionalidade1-removebg-preview.png);
    background-size: cover;
}

#conquista {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../assets/img/imagem-funcionalidade2-removebg-preview.png);
    background-size: cover;
}

#dash {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../assets/img/imagem-funcionalidade4-removebg-preview.png);
    background-size: cover;
}

.banner3 button {
    background: radial-gradient(circle, rgb(223, 164, 87) 0%, rgb(85, 60, 3) 100% ) ;
    display: flex;
    color: white;
    border: 1px, ;
    border-radius: 10px;
    height: 50px;
    width: auto;
    font-size: 24px;
    font-family: 'Cinzel', sans-serif;
    padding: 40px;
    align-items: center;
}

.banner3 button:hover {
    transform: scale(1.025);
    background-color: rgb(223, 164, 30);
    cursor: pointer;
}

.footer .container h4 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: 25px;
}